<% provide(:title, 'Sign up') %>
<%= render 'layouts/header' %>


  <div class="row">
    <div class="col-sm-1">
    </div>

    <div class="col-sm-6 col-centered">
      <h1>Sign up</h1>
      <%= form_for( @user) do |f| %>
      <%= render 'shared/error_sign_up' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>






